<div class="jumbotron text-center">
    <h1>Burger Bonanza!</h1>
    <h3>Add a burger or eat a burger</h3> 
</div>


<div class="container">
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
            {{/unless}}
        {{/each}}
    </ul>
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/if}}
        {{/each}}
    </ul>
    <div class="container d-flex justify-content-center">
        <form class="create-form row">
            <div class="form-group col-6 text-center">
                <textarea class="form-control row mb-3" name="add-burger" id="add-burger" cols="50" rows="3"></textarea>
                <button class="btn btn-info row mb-3" type="submit">Submit</button>
                <h3 class="row">Enter a burger you want to eat, then click the Submit button!</h3>
            </div>
        </form>
    </div>
</div>